<mat-toolbar color="primary">
    <span class="spacer"></span>
    <span class="title_font">vitéz Oszlányi Kornél</span>
    <span class="spacer"></span>
    <button mat-raised-button routerLink="/">Vissza</button>
</mat-toolbar>

<header class="description">
    <h1 class="title">Kapcsolat:</h1>
    <p>A honlapon található tartalmakkal kapcoslatban keresse Oszlányi-Salacz Ivánt, a következő elérhetőségeken:</p>
    <p>E-mail cím: oszlanyiivan@gmail.com</p>
    <p>Mobil: +36 30 640 1943</p>
</header>