<mat-toolbar color="primary">
  <span class="spacer"></span>
  <span class="title_font">vitéz Oszlányi Kornél</span>
  <span class="spacer"></span>
  <button mat-raised-button routerLink="/">Vissza</button>
</mat-toolbar>


<header class="header">
  <h1>Cikkek: </h1>
  <button mat-raised-button class="link"><a href="https://hu.wikipedia.org/wiki/Oszl%C3%A1nyi_Korn%C3%A9l" target='_blank'>Wikipedia oldal</a></button>
  <button mat-raised-button class="link"><a href="https://kanizsatv.hu/hirek/12249-ismet-a-hadak-utjan" target='_blank'>KanizsaTV - Hadak útján előadás</a></button>
</header>